html:before, html:after {
	content: "";
	position: fixed;
	background: black;
	left: 0;
	right: 0;
	height: 23.5px;
}

html:before {
	top: 0;
}

html:after {
	bottom: 0;
}

html {
	height: 100vh;
	min-height: 100vh;
	background: #262626;
	border-left: 20px solid black;
	border-right: 20px solid black;  
}

body {
	height: 100%;
	min-height: 100%;
	position: relative;
}

a:not(.home-button) {
  font-family: 'Raleway', serif;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 50px;
  color: #FFFFFF;
}

a.home-button {
  font-family: 'Raleway', serif;
  font-weight: 600;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 40px;
  position: relative;
  top: 81%;
  left: 5%;
}

a:hover {
  text-shadow: 4px 4px #000000;
}

p {
  margin: 0;
}

li {
  display: inline-block;
}

.container-left {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);

}

.container-right {
  position: absolute;  
  width: 40%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.content {
  color: #F5F5F5;
  font-family: 'Raleway', serif;
  font-size: 15px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 23.5px;
}

.footer-content {
	position: fixed;
	top: 87%;
	left: 3%;
	padding: 15px;
}

.footer-text {
  font-family: 'Raleway', serif;
  font-weight: 600;
  color: #F5F5F5;
  font-size: 40px;
  position: relative;
  left: 5%;
}

.front-content-text {
  color: #F5F5F5;
  font-family: 'Raleway', serif;
  font-size: 25px;
}

.front-content {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.header {
	left: 0;
	right: 0;
	height: 100px;
	padding-top: 23.5px;
}

.main-hr {
  width: 30%;
  position: fixed;
  margin: 0;
  height: 0;
}

.nav-container {
  position: fixed;
  left: 56%;
  padding: 15px;
  top: 1%;
}

.page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
  padding: 100px;
  overflow: hidden;
}

.subtext {
  font-family: 'Raleway', serif;
  font-weight: 350;
  color: #F5F5F5;
  font-size: 15px;
  position: fixed;
  margin-top: 8px;
  left: 26%;
}

