html, body {
  height: 100%;
}

body {
  display: flex;
}

p {
  margin: 0;
}

li {
  display: inline-block;
}

a:not(.home-button) {
  font-family: 'Raleway', serif;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 50px;
  color: #FFFFFF;
}

a.home-button {
  font-family: 'Raleway', serif;
  font-weight: 600;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 40px;
  position: fixed;
  top: 81%;
  left: 5%;
}

a:hover {
  text-shadow: 4px 4px #000000;
}

.container-left {
  float: left;
}

.container-right {
  float: right;
}

.main-hr {
  width: 30%;
  position: fixed;
  margin: 0;
  height: 0;
}

.main-content {
  flex: 1;
  background: #262626;
  border: black solid 30px;
}

.content {
  color: #F5F5F5;
  font-family: 'Raleway', serif;
  font-size: 15px;
}

.footer-text {
  font-family: 'Raleway', serif;
  font-weight: 600;
  color: #F5F5F5;
  font-size: 40px;
  position: relative;
  left: 5%;
}

.subtext {
  font-family: 'Raleway', serif;
  font-weight: 350;
  color: #F5F5F5;
  font-size: 15px;
  position: fixed;
  margin-top: 8px;
  left: 26%;
}

.footer {
	position: absolute;
	top: 87%;
	left: 4%;
}

.nav-container {
  position: relative;
  left: 56%;
}

