html, body {
  height: 100%;
}

body {
  display: flex;
}

p {
  margin: 0;
}

li {
  display: inline-block;
}

a {
  font-family: 'Raleway', serif;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 50px;
  color: #FFFFFF;
}

a:hover {
  text-shadow: 4px 4px #000000;
}

hr {
  width: 35%;
  position: absolute;
  margin: 0;
  height: 0;
}

.main-content {
  flex: 1;
  background: #262626;
  border: black solid 30px;
}

.header-text {
  font-family: 'Raleway', serif;
  font-weight: 600;
  color: #F5F5F5;
  font-size: 40px;
  position: relative;
  top: 77%;
  left: 3%;
}

.subtext {
  font-family: 'Raleway', serif;
  font-weight: 350;
  color: #F5F5F5;
  font-size: 15px;
  position: relative;
  margin-top: 8px;
  left: 24%;
}

.nav-container {
  position: relative;
  left: 54%;
}
